/build3rd_git/build
/build3rd_git/externals
/build3rd_git/Logs
/build3rd_git/External.lnk
*.opendb
*.sdf
*.suo
*.aps
Debug
/MyWorkspace/external
/PDBTools/BakPDB/weiyunPDB_3.5.0.1673(20160601_201821)/*.pdb
/PDBTools/BakPDB/*.7z
/PDBTools/BakPDB/*.exe
